<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{private/admin/master :: admin-master-layout}">
<head>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div id="main-content" layout:fragment="main-content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-clock-o"></i> <span th:text="${pageTitle}"></span>
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{${pageLinks.dashboard}}"><i class="fa fa-dashboard"></i>
                Dashboard</a></li>
            <li class="active" th:text="${pageTitle}"></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive">
                        <h3>Welcome, Admin</h3>
                        <p>On this system, you can <a
                                th:href="@{${pageLinks.viewAppointments}}">View All Appointments</a>.</p>
                        <p>
                            You can also <a th:href="@{${pageLinks.viewReviews}}">View Your Customers Reviews</a>
                            and many more! Features are displayed on your menu.
                        </p>

                        <p>More Features will be added in due time.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 th:text="${appointmentsCount}"></h3>

                        <p>Total Appointments</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money fa-fw"></i>
                    </div>
                    <a th:href="@{${pageLinks.viewAppointments}}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 th:text="${customersCount}"></h3>

                        <p>Total Customers</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-basket fa-fw"></i>
                    </div>
                    <a th:href="@{${pageLinks.viewCustomers}}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 th:text="${hairstylistCount}"></h3>

                        <p>Total Hairstylists</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-leaf"></i>
                    </div>
                    <a th:href="@{${pageLinks.viewHairstylists}}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 th:text="${reviewsCount}"></h3>

                        <p>Total Reviews</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-nutrition"></i>
                    </div>
                    <a th:href="@{${pageLinks.viewReviews}}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


</body>
</html>

