<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{private/customer/master :: customer-master-layout}">
<head>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div layout:fragment="main-content" id="main-content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-clock-o"></i> <span th:text="${pageTitle}"></span>
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{${pageLinks.dashboard}}"><i class="fa fa-dashboard"></i>
                Dashboard</a></li>
            <li class="active" th:text="${pageTitle}"></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <a style="margin: 10px" th:href="@{${pageLinks.makeAppointment}}"
                   class="btn btn-warning">Make An Appointment</a>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body table-responsive">
                        <table id="tblRecords"
                               class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Appointment Date</th>
                                <th>Service Time</th>
                                <th>Hairstylist</th>
                                <th>Hairstyle</th>
                                <th>Date Scheduled</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="appointment,iterStat : ${appointments}">
                                <th scope="row" th:text="${iterStat.count}"></th>
                                <td class="mailbox-name" th:text="${appointment.appointmentDate}"></td>
                                <td class="mailbox-name"
                                    th:text="${appointment.serviceTime.startTime + ' to ' + appointment.serviceTime.endTime}"></td>
                                <td class="mailbox-name" th:text="${appointment.hairstylist.fullName}"></td>
                                <td class="mailbox-name" th:text="${appointment.hairStyle}"></td>
                                <td class="mailbox-name" th:text="${appointment.dateScheduled}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="btn-group" style="float: right;margin: 8px;">
                            <button type="button" class="btn btn-default">Pages:</button>
                            <a type="button" th:each="i : ${#numbers.sequence(1, appointments.totalPages)}"
                               th:class="${currentPageNo}==${i-1}?'btn btn-primary':'btn btn-default'"
                               th:href="@{${pageLinks.viewAppointments}(page=${i-1})}"
                               th:text="${i}">
                            </a>
                        </div>
                        <hr>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</body>
</html>